.frameContainer {
  display: flex;
}

.container {
  position: relative;
  background-color: #222;
  overflow: hidden;
  color: white;
  padding: 2rem;
  min-height: 100vh;
  z-index: 0;
  width: 100%;
  font-family:
      Outfit,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
}


.logsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  align-items: flex-start; 
  justify-content: flex-start; 
  align-items: center;
}

.dateSection {
  flex: 1;
  max-width: 900px;
  width: 100%;

}

.dateHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dateTitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;
    opacity: 0.6;
}

.dateTitleToday {
  color: white;
  opacity: 0.6;
    font-weight: 400px;
    margin-right: 10px;  
}

.dateTitle:last-child {
    margin-left: auto; 
}

.logList {
  display: flex;
  background: #2e2e2e;
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  gap: 1rem;
}


