
.frameContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que los elementos estén centrados horizontalmente */
  width: 100%; 
}



.addEntryPoint {
  flex-direction: column;
  padding: 5vw 8vw 10vw; /* Usa unidades relativas como 'vw' para una mejor adaptabilidad */
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  max-width: 100%; /* Asegura que no sobrepase el 100% del contenedor */
}





.form {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.div2,
.div3,
.div4,
.div5,
.div6 {
  align-items: center;
  gap: 20px;
  width: 878px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 0px;
  font-weight: 500;
  display: flex;
}

/* Entry Name */
.entryName {
  color: #00c8c8;
 
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  text-align: left;
}

.namebox {
  color: white;
  flex: 1 0 0;
  background-color:#181c1c;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .namebox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.namebox::placeholder {
  color: white; 
  opacity: 50%;
}

/* Entry Location */
.entryLocation {
  color:#00c8c8;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  text-align: left;
}

.locationbox {
  color: white;
  flex: 1 0 0;
  background-color: #181c1c;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .locationbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.locationbox::placeholder {
  color: white; 
  opacity: 50%;
}


/* Access Camera ID */
.accessCameraId {
  color: #00c8c8;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  text-align: left;
}

.cameraidbox {
  color: white;
  flex: 1 0 0;
  background-color: #181c1c;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .cameraidbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cameraidbox::placeholder {
  color: white; 
  opacity: 50%;
}


/* Access Lock ID */
.accessLockId {
  color: #00c8c8;
  font-size: 16px;
  font-weight: 700;  
  width: 200px;
  text-align: left;
}

.lockidbox {
  color: white;
  flex: 1 0 0;
  background-color: #181c1c;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .lockidbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.lockidbox::placeholder {
  color: white; 
  opacity: 50%;
}


/* Access Administrator */
.AccessAdministrator {
  color: #00c8c8;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  text-align: left;
}





.administratorbox {
  color: white;
  flex: 1 0 0;
  background-color: #181c1c;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .administratorbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.administratorbox::placeholder {
  color: white; 
  opacity: 50%;
}










.createEntryPoint {
  color: #fff;
  text-align: center;
  background-color: #ff9800;
  border-radius: 20px;
  align-self: center;
  width: 345px;
  max-width: 100%;
  margin-top: 120px;
  padding: 12px 70px;
  font-family:
    Outfit,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 18px;
  font-weight: 700;
}

