
.frameContainer {
  display: flex;
}




.addEntryPoint {
  background-color: #222;
  flex-direction: column;
  padding: 51px 42px 257px;
  display: flex;
  overflow: hidden;
}
@media (width<=991px) {
  .addEntryPoint {
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
}




.form {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.div2,
.div3,
.div4,
.div5,
.div6 {
  align-items: center;
  gap: 20px;
  width: 804px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 0px;
  font-weight: 500;
  display: flex;
}

/* Entry Name */
.entryName {
  color: #fff;
  align-self: start;
  font-size: 18px;
  width: 200px;
  text-align: left;
}

.namebox {
  color: white;
  flex: 1 0 0;
  background-color: #036;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .namebox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.namebox::placeholder {
  color: #00c8c8;
  opacity: 50%;
}

/* Entry Location */
.entryLocation {
  color: #fff;
  align-self: start;
  font-size: 18px;
  width: 200px;
  text-align: left;
}

.locationbox {
  color: white;
  flex: 1 0 0;
  background-color: #036;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .locationbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.locationbox::placeholder {
  color: #00c8c8;
  opacity: 50%;
}


/* Access Camera ID */
.accessCameraId {
  color: #fff;
  align-self: start;
  font-size: 18px;
  width: 200px;
  text-align: left;
}

.cameraidbox {
  color: white;
  flex: 1 0 0;
  background-color: #036;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .cameraidbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cameraidbox::placeholder {
  color: #00c8c8;
  opacity: 50%;
}


/* Access Lock ID */
.accessLockId {
  color: #fff;
  align-self: start;
  font-size: 18px;
  width: 200px;
  text-align: left;
}

.lockidbox {
  color: white;
  flex: 1 0 0;
  background-color: #036;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .lockidbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.lockidbox::placeholder {
  color: #00c8c8;
  opacity: 50%;
}


/* Access Administrator */
.AccessAdministrator {
  color: #fff;
  align-self: start;
  font-size: 18px;
  width: 200px;
  text-align: left;
}





.administratorbox {
  color: white;
  flex: 1 0 0;
  background-color: #036;
  border-radius: 15px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .administratorbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.administratorbox::placeholder {
  color: #00c8c8;
  opacity: 50%;
}










.createEntryPoint {
  color: #fff;
  text-align: center;
  background-color: #036;
  border-radius: 20px;
  align-self: center;
  width: 345px;
  max-width: 100%;
  margin-top: 90px;
  padding: 12px 70px;
  font-family:
    Outfit,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 18px;
  font-weight: 700;
}
@media (width<=991px) {
  .createEntryPoint {
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
