.frameContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.settingsWrapper {
    background: transparent; /* Elimina el fondo blanco */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}