.frameContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.settingsWrapper {
    background: rgba(24, 28, 28, 0.5); 
    border-radius: 20px;
    padding: 20px;
    box-shadow: none;
    width: 100%;
    max-width: 878px;
    margin: 20px;
}



.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.setting2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting label {
    font-size: 16px;  /* Aumenta el tamaño del texto */
    font-weight: 500; /* Opcional: Haz el texto más grueso */
}

.setting2 label {
    font-size: 16px;  /* Aumenta el tamaño del texto */
    font-weight: 500; /* Opcional: Haz el texto más grueso */
}



.dropdown {
    font-family: Outfit, -apple-system, Roboto, Helvetica, sans-serif;
    background-color: #00c8c8;
    border: none; 
    border-radius: 20px;
    color: #181c1c;
    padding: 12px 18px;
    font-size: 18px !important; /* ← aquí aumentamos el tamaño de la fuente */
    width: 100%;
    font-weight: 700px !important;
    max-width: 300px;
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='%23181c1c' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px 20px;
  }
  
  .dropdown:focus {
    outline: none;
  }
  




.toggleButton {
    padding: 10px 20px; /* Aumenta el espacio interno */
    border: none;
    border-radius: 20px; /* Igual que en UserProfile */
    cursor: pointer;
    font-size: 16px;  /* Aumenta el tamaño del texto en los botones */
    font-weight: 600; /* Igual que en UserProfile */
    text-align: center;
    width: 120px;
}

.toggleButton.enabled {
    background-color: #00c8c8; /* Color de fondo del botón "Add New Entry Label" */
    font-weight: 700;
    color: #181c1c;/* Texto del botón */
}

.toggleButton.disabled {
    background-color: #181c1c;/* Color para el estado deshabilitado */
    color: white;
}

.toggleButton:focus {
    outline: none;
  }






.applyButton {
    background-color: #ff9800;
    color: white; 
    border: none;
    width: 150px; 
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 18px; 
    font-weight: 700;
    cursor: pointer; 
    align-self: center;
    margin-top: 40px;
    
    text-align: center;
    
    border-radius: 20px;
    
    }
    
    .applyButton:focus {
    outline: none;
    }