.frameContainer {
  display: flex;
  font-family: 
    Outfit, 
    -apple-system, 
    Roboto, 
    Helvetica, 
    sans-serif;
}



.dashboardContainer {
  position: relative;

  overflow: hidden;
  color: white;
  padding: 2rem;
  min-height: 100vh;
  z-index: 0;
  width: 100%;
}


@keyframes float {
  0% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-20px) scale(1.05); }
  100% { transform: translateY(0) scale(1); }
}


.metrics {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.metricCard {
  background-color: #181c1c; 
  padding: 1rem;
  border-radius: 20px;
  flex: 1;
  min-width: 180px;
  text-align: center;
  font-size: 16px;
  font-weight: 500px;

  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 4px;
  color: white; 
}

.metricCard .result {
  color: #FF9800; 
}

.charts {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}



.chartCard {
  flex: 1;
  min-width: 300px;
  height: 300px;
  background: #181c1c;
  border-radius: 20px;
  padding-top: 0rem; /* Ajusta el espacio desde arriba */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6rem;
}

.records {
  background-color: rgba(24, 28, 28, 0.5); 
  border-radius: 20px;
  padding: 10px 20px; 
}




.loading {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}


