
.frameContainer {
  display: flex;
}



.editAccount {
  flex-direction: column;
  align-items: center;
  padding: 44px 49px 269px;
  font-family:
    Outfit,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  display: flex;
  overflow: hidden;
}
@media (width<=991px) {
  .editAccount {
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.userimg {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  max-width: 100%;
  color: #fff;
  margin-bottom: 10px;

  }


.form {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.div2,
.div3,
.div4,
.div5 {
  align-items: center;
  gap: 20px;
  width: 878px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 0px;
  font-weight: 500;
  display: flex;
}

/* Entry Name */
.userName {
  color:  #00c8c8;
 
  font-size: 18px;
  font-weight: 700;
  width: 200px;
  text-align: left;
}

.namebox {
  color: #181c1c;
  flex: 1 0 0;
  background-color: #00c8c8; 
  border-radius: 20px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  
  font-weight: 500;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .namebox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.namebox::placeholder {
  color: #181c1c;
  opacity: 80%;
}

/* Entry Location */
.userRole {
  color:#00c8c8;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  text-align: left;
}


.roleSelect {
    color: white;
    background-color: #111;
    border-radius: 20px;
    padding: 9px 26px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    font-family: Outfit, -apple-system, Roboto, Helvetica, sans-serif;
  
    width: 600px;
    flex: 1 0 0; 
    max-width: 100%;
  
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='%23ffffff' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  
    cursor: pointer;
  }


.roleSelect:focus {
  outline: none;
}

@media (width<=991px) {
  .roleSelect {
    width: 100% ; 
    max-width: 100%;  
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Access Camera ID */
.userEmail {
  color: #00c8c8;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  text-align: left;
}

.emailbox {
  color: white;
  flex: 1 0 0;
  background-color: #181c1c;
  border-radius: 20px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .emailbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.emailbox::placeholder {
  color: white; 
  opacity: 50%;
}


/* Access Lock ID */
.userPhoneNumber{
  color: #00c8c8;
  font-size: 16px;
  font-weight: 700;  
  width: 200px;
  text-align: left;
}

.numberbox {
  color: white;
  flex: 1 0 0;
  background-color: #181c1c;
  border-radius: 20px;
  padding: 9px 26px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .numberbox {
    max-width: 100%;
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.numberbox::placeholder {
  color: white; 
  opacity: 50%;
}

.registerBtn {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.div6 {
  flex-wrap: wrap;
  align-items: stretch;
  width: 878px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 0px;
  display: flex;
  background-color: rgba(24, 28, 28, 0.5); 

  border-radius: 20px;
  padding: 15px 20px; 
}
.changePassword {
  color: #fff;
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  align-self: flex-start;
  
}



.passwordbox {
  color: white;
  background-color: #111;
  border-radius: 15px;
  border: none;
  width: 878px;
  max-width: 100%;
  margin-top: 0px;
  padding: 9px 26px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}



.passwordbox::placeholder {
  color: white;
  opacity: 50%;
}

.newpasswordbox {
  color: white;
  background-color: #111;
  border-radius: 15px;
  border: none;
  width: 878px;
  max-width: 100%;
  margin-top: 15px;
  padding: 9px 26px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}


.newpasswordbox::placeholder {
  color: white;
  opacity: 50%;
}

.confirmnewpasswordbox {
  color: white;
  background-color: #111;
  border-radius: 15px;
  border: none;
  width: 878px;
  max-width: 100%;
  margin-top: 15px;
  padding: 9px 26px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}


.confirmnewpasswordbox::placeholder {
  color: white;
  opacity: 50%;
}








.updatepasswordbutton {
  color: #fff;
  text-align: center;
  background-color: #ff9800;
  border-radius: 20px;
  align-self: center;
  width: 345px;
  max-width: 100%;
  margin-top: 80px;
  padding: 12px 70px;
  font-family:
    Outfit,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 18px;
  font-weight: 700;
}

