
.frameContainer {
  display: flex;
}



.editAccount {
  flex-direction: column;
  align-items: center;
  padding: 44px 49px 269px;
  font-family:
    Outfit,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  display: flex;
  overflow: hidden;
}
@media (width<=991px) {
  .editAccount {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.div5 {
  flex-wrap: wrap;
  align-items: stretch;
  width: 804px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 0px;
  display: flex;
}
.changePassword {
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  font-weight: 500;
  align-self: flex-start;
  
}

.passwordbox {
  color: #00c8c8;
  background-color: #036;
  border-radius: 15px;
  border: none;
  width: 803px;
  max-width: 100%;
  margin-top: 25px;
  padding: 9px 26px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .passwordbox {
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.passwordbox::placeholder {
  color: #00c8c8;
  opacity: 50%;
}

.newpasswordbox {
  color: #00c8c8;
  background-color: #036;
  border-radius: 15px;
  border: none;
  width: 803px;
  max-width: 100%;
  margin-top: 25px;
  padding: 9px 26px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}

@media (width<=991px) {
  .newpasswordbox {
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.newpasswordbox::placeholder {
  color: #00c8c8;
  opacity: 50%;
}

.confirmnewpasswordbox {
  color: #00c8c8;
  background-color: #036;
  border-radius: 15px;
  border: none;
  width: 803px;
  max-width: 100%;
  margin-top: 25px;
  padding: 9px 26px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  font-family:
    Outfit,
    -apple-system
    Roboto,
    Helvetica,
    sans-serif;
}
@media (width<=991px) {
  .confirmnewpasswordbox {
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.confirmnewpasswordbox::placeholder {
  color: #00c8c8;
  opacity: 50%;
}

.updatepasswordbutton {
  color: #222;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  width: 429px;
  max-width: 100%;
  margin-top: 36px;
  margin-left: 10px;
  padding: 8px 70px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
@media (width<=991px) {
  .updatepasswordbutton {
    padding-left: 20px;
    padding-right: 20px;
  }
}
