.frameContainer {
    display: flex;

    align-items: center;
    justify-content: center; 

}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 10px 20px;

    overflow: hidden;
    padding: 2rem;
    min-height: 100vh;
    z-index: 0;
    width: 100%;

}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: center;
    align-items: center;
    width: 100%;
    max-width: 878px; 
    margin: 0 auto; 
    margin: 10px 20px;
    padding: 10px 20px;
}

.entryDetails {
    margin-bottom: 20px;
    background-color: #181c1c;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.entryTitle {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.editableTitle {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
}

.entryimg {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    max-width: 100%;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
}

.entryInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #ccc;
    gap: 10px;
}

.entryInfo label {
    font-weight: bold;
    color: white;
    flex: 1;
    text-align: left;
}

.entryInfo span,
.entryInfo input {
    flex: 2;
    text-align: left;
    max-width: 300px;
}

.editableInput {
    background: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 30px;
}

.editableInput:focus {
    outline: 2px solid #00c8c8;
}

.saveButton {

    color: #fff;
    text-align: center;
    background-color: #ff9800;
    border-radius: 20px;
    align-self: center;
    width: 345px;
    max-width: 100%;
    margin-top: 80px;
    padding: 12px 70px;
    font-family: Outfit, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.editButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.editIcon {
    width: 20px;
    height: 20px;
    color: #00c8c8;
    transition: color 0.3s;
}

.editButton:hover .editIcon {
    color: #00e208;
}

.records {
    margin-top: 70px; 
    background-color: rgba(24, 28, 28, 0.5); 
    border-radius: 20px;
    padding: 10px 20px; 
    width: 100%;
    max-width: 878px;
}
