.frameContainer {
  display: flex;
  min-height: 100vh; 
}

.container {
  background-color: #1e1e1e;
  color: #ffffff;
  flex: 1; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings {
  max-width: 800px; 
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.field label {
  font-size: 1rem;
  margin-right: 1rem;
  width: 120px; 
  text-align: left;
}

.field select {
  background-color: #cfcfcf;
  border: none;
  border-radius: 18px;
  padding: 0.5rem 2rem 0.5rem 0.8rem; 
  font-size: 1rem;
  flex: 1;
  text-indent: 5px;
  min-width: 250px; 
  appearance: none; 
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDE2bDgtOGgtMTZ6Ii8+PC9zdmc+'); /* flecha SVG */
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  background-size: 1rem;
}


.refreshButton {
  background-color: #036;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 0.7rem;
  margin: 1.5rem 0;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;                
  align-items: center;          
  justify-content: center;      
}

.icon {
  margin-right: 12px; 
}

.applyButton {
  background-color: #ff9800;
  color: #000000;
  border: none;
  width: 10%;
  padding: 0.7rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer; 
  align-self: flex-end;
}

.footer {
  margin-top: 3rem;
  padding-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  width: 100%; 
}

.contact {
  color: #cccccc;
  text-align: left;
  width: 100%; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding-bottom: 1rem; 
}

.contact h3 {
  margin: 0;
  padding-bottom: 0.5rem;
  width: 100%; 
  border-bottom: 2px solid #888; 
}

.contact a {
  color: #00c8c8;
  text-decoration: none;
}

.brand {
  color: #ff9800;
}

