.frameContainer {
  display: flex;
  flex-direction: column; /* O row, según tu diseño */
  flex-wrap: wrap;
  width: 100%;
}

.Users {
  margin: 40px auto 0 auto;
  width: 100%;
  display: flex; /* 'center' NO es un valor válido */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* O row, si quieres mostrar usuarios en fila */
  padding: 0 20px; /* Espaciado lateral para pantallas pequeñas */
  box-sizing: border-box;
}