.logCard {
    background-color:#181c1c; 
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-grow: 1;  /* Permite que los LogCards crezcan en función del espacio disponible */
  flex-basis: 0;  /* Asegura que los LogCards empiecen desde 0 y se expandan en función del contenedor */
  width: 100%;  /* Asegura que el LogCard ocupe el 100% del ancho disponible */
  max-width: 100%; /* Permite que el LogCard no sobrepase el 100% del ancho */
  box-sizing: border-box;
    position: relative;
  }
  
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;  /* Hace que la sección de información del usuario se adapte al espacio */
  }
  
  .username {
    font-weight: bold;
    font-size: 1.2rem;
    color: #00c8c8;
  }
  
  .code {
    font-size: 1rem; 
  }
  
  .accessInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;  /* Hace que la sección de información del usuario se adapte al espacio */
  }
  
  .time {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
  }
  
  .status {
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    font-size: 0.9rem;
    font-weight: bold;
    width: auto; /* Permite que el ancho de la caja de estado se ajuste automáticamente al contenido */
  }
  
  .authorized {
    background-color: #0f0;
    color:#181c1c; 
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
  }
  
  .denied {
    background-color: red;
    color:#181c1c; 
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
  }
  


  .iconWrapper {
    position: absolute;
    top: -10px; 
    left: -5px; 
    z-index: 1; 
  }
  
  .icon {
    width: 30px; 
    height: 30px;
    fill:  #ff9800; 
  }
  
  