.viewUsers {

  align-self: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  overflow: hidden; 
  flex: 1; 

  max-width: 878px; /* <-- Este es el punto clave */
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}


.header {
  text-align: center;

  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  font-family: Outfit, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  width: 100%;
  max-width: 100%;
}




/*botton add user*/ 
.addUserButton {
  color: #fff;
  background-color: #00c8c8;
  border-radius: 20px;
  font-size: 18px;
  align-items: start;
  gap: 10px;
  padding: 10px 15px 0px 15px;
  font-weight: 600;
  display: flex;
  border: none;
  cursor: pointer;
}

.addUserIcon {
  height: 30px;
  width: 30px;
}



/*contador*/
.userCount {
  color: #00c8c8;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  font-weight: 400;
}

.countHighlight {
  font-weight: 800;
  font-size: 20px;
  color: #ff9800;
}



/* Buscador */
.searchbox {
  color: white; 
  text-align: center;
  background-color: #181c1c; 
  border-radius: 20px;
  flex: 1;

  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 40px;
  height: 30px;
  width: 100%;
  font-family: Outfit, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

.searchInput {
  color: white; 
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-family: Outfit, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  flex: 1;
}

.searchInput::placeholder {
  color:white; 
  opacity: 0.7;
}

.searchIcon {
  color: #00c8c8;
  height: 35px;
  width: 35px;
}







/* Lista de usuarios */
.usersList {

  background-color:   rgba(24, 28, 28, 0.5); 
  border-radius: 20px;
  flex: 1 0 0; 
  flex-wrap: wrap;
  align-self: center;
  align-items: stretch;
  margin-top: 20px;
  padding: 20px;

}


.noResults {
  color: #fff;
  opacity: 0.7;
  text-align: center;
  font-family: Outfit, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: block;
}





