
.facepass {
    color: #ff9800;
      letter-spacing: 8px;
      align-self: flex-start;
      font-size: 36px;
      font-weight: 300;
      margin: 0;
      position: absolute;
      top: 17px;
      left: 100px;
  }

  .facepass:hover {
    color: #00D9D5;
  }

  .subtitle {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 500;
  }